@font-face {
    font-family: "Figtree";
    src: url("../fonts/Figtree-VariableFont_wght.ttf")
    format("woff2 supports variations"),
    url("../fonts/Figtree-VariableFont_wght.ttf")
    format("woff2-variations");
    font-weight: 500 800;
}

body{
    background: var(--color-base);
    font-family: 'Figtree',sans-serif;
    line-height: 150%;
    color: var(--color-gray-950);


}
.center_all{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


:root{
    --card-width: 24rem;
    --color-base: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray-950: hsl(0, 0%, 7%);
    --color-gray-500: hsl(0, 0%, 42%);
    --spacing-200: 1.5rem;
    --card-radius: 1.25rem;
    --space: 0.75rem;
}

.card{
    display: grid;
    gap: var(--spacing-200);
    max-width: var(--card-width);
    background: var(--color-white);
    padding: var(--spacing-200);
    border: 1px solid var(--color-gray-950);
    border-radius: var(--card-radius);
    box-shadow: 8px 8px 0 0 var(--color-gray-950);
}

.card__content__category{
    display: inline-block;
    background: var(--color-base);
    padding: 0.25rem 0.75rem;
    font-weight: 800;
    border-radius: 0.25rem;
}

.card__image{
    border-radius: calc(var(--card-radius) / 2);
}

.card__author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.333rem;

}

.card__author__image{
    height: 2rem;
    aspect-ratio: 1;
}

.card__author__name{
    font-size: 1.1428rem;
    font-weight: 800;
}



.card__content__description{
    color: var(--color-gray-500);
    font-size: 1rem;
}

.card__content__date{
    font-size: 0.875rem;
}
.card__content__title{
    font-size: 1.5rem;
    font-weight: 800;
}

.card__content > * {
    margin-block: 0;
}

.card__content > * + * {
    margin-block-start: var(--space, 1.5rem);
}





.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}